<div class="container text-center" style="display: block; padding: 40px;">
    <p style="font-size: xx-large;">Owner Not Found</p>
        <img src="https://loodibee.com/wp-content/uploads/Porsche-Logo.png" style="width: 350px;">
</div>