@{
    ViewData["Title"] = "Home Page";
}

<dic class="container text-center" style="display: block; padding: 40px; font-size: xx-large;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Porsche_Schriftzug.svg/2560px-Porsche_Schriftzug.svg.png" style="width: 600px;">
    <div class="row" style="padding-top: 10px;" >
        <div class="col" >
            <img style="width: 260px; height: 500px; border-radius: 3px;" src="https://iphoneswallpapers.com/wp-content/uploads/2023/05/Porsche-911-iPhone-Wallpaper-HD.jpg">
        </div>
        <div class="col">
            <img style="width: 260px; height: 500px; border-radius: 3px;" src="https://e0.pxfuel.com/wallpapers/1006/420/desktop-wallpaper-porsche-911-iphone-porsche-911-gt3-rs-iphone.jpg">
        </div>
        <div class="col">
        <img style="width: 260px; height: 500px; border-radius: 3px;" src="https://w0.peakpx.com/wallpaper/764/621/HD-wallpaper-nardo-grey-gt3-porsche-gt3-grey-car-supercar-sports-america-new-forest.jpg">
        </div>
    </div>
</dic>
